<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    {% block htmlhead %}
    {% endblock htmlhead %}
</head>
<body>
    <div id="base">
    {% if user.is_authenticated %}
    <div id="inside">
        <h3>Logged in as {{user.username}}</h3>
        <form action="{% url 'logoutuser' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Log out</button>
        </form>
    </div>
    <a href="{% url 'createtodo' %}">Create</a>
    <a href="{% url 'currenttodos' %}">Current</a>
    <a href="{% url 'completedtodos' %}">Completed</a>
    {% else %}
    <a href="{% url 'signupuser' %}">Sign up</a>
    <a href="{% url 'loginuser' %}">Log in</a>
    {% endif %}
    </div>
<br>
<br>
{% block content %}
{% endblock %}
</body>
</html>