body{
    background-color: #31572C;
}
a{
    text-decoration: none;
    padding-right: 50px;
    font-size: 25px;
    color: #90A955;
}

#base{
    padding: 20px;
    background-color: #4F772D;
}

#inside{
    text-align: right;
    padding: 20px;
    color:#90A955;
}

label, input, button,span{
    padding: 5px;
    color: #90A955;
}

h1, h2,p,form button{
    text-align: center;
    color: #90A955;
}
p{
    padding-top: 20px;
}

h1,h3{
    color: #90A955;
    font-weight: bold;
}
textarea{
    height: 12em;
    width: 20em;
    color:#4F772D;
}

